@model IEnumerable<Car_Rental.Models.Rent>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>База данных аренд</title>
    <style>

        body {
            background: url(images/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        .background {
        }

        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: blue;
        }

        .table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .table th, .table td {
                border: 1px solid black;
                color: blue;
                padding: 12px;
                text-align: center;
                background-color: #f2f2f2;
            }

            .table th {
                color: black;
                border: 1px solid black;
                background-color: blue;
            }



        .create-button {
            text-align: center;
            display: inline-block;
            padding: 5px 10px;
            background-color: blue;
            color: white;
            border-radius: 5px;
            margin-bottom: 20px;
            text-decoration: none;
        }

            .create-button:hover {
                background-color: #218838;
            }
    </style>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <h1>База данных аренд</h1>
        <p>
            <a class="create-button" href='@Url.Action("Index", "Menu")'>Назад</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Аренды</th>
                    <th>ID Пользователя</th>
                    <th>ID Машины</th>
                    <th>Начало аренды</th>
                    <th>Конец аренды</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Rent_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Customers_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cars_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastDate)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
