@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор функции</title>
    <style>
        body {
            background: url(images/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .option {
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;
            background-color: #454142;
            color: white;
            font-size: 18px;
            text-decoration: none;
            display: block;
        }

            .option:hover {
                background-color: #454142;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Выберите функцию</h2>
        <a href="@Url.Action("Index", "Order")" class="option">Создать заказ</a>
        <a href="@Url.Action("Index", "Customers")" class="option">Пользователи</a>
        <a href="@Url.Action("Index", "Car")" class="option">Автомобили</a>
        <a href="@Url.Action("Index", "Rent")" class="option">Аренды</a>
        <a href="@Url.Action("Index", "Discount")" class="option">Скидки</a>
        <a href="@Url.Action("Index", "ServiceDate")" class="option">Сервисное обслуживание</a>
        <a href="@Url.Action("Index", "Card")" class="option">Дисконтные карты</a>
        <a href="@Url.Action("Index", "Contract")" class="option">Контракты</a>
    </div>

    
</body>
</html>