@model IEnumerable<Car_Rental.Models.Contract>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cards_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contracts_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contracts_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contracts_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
